.checkout-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;

    .checkout-header {
        display: flex;
    }

    .checkout-body {
        padding: 40px;
        .checkout-product {
            background: #F9F9F9;
            padding: 30px;
        }
        .checkout-payment {
            padding: 0px 40px;
        }
    }
}