@import "checkout";

body {
  margin: 0;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background: linear-gradient(140deg, #EB6133 50%, #162A62 50%);
    background: -o-linear-gradient(140deg, #EB6133 50%, #162A62 50%);
    background: -webkit-linear-gradient(140deg, #EB6133 50%, #162A62 50%);
    background: -moz-linear-gradient(140deg, #EB6133 50%, #162A62 50%);
    padding: 70px 60px;
    ul {
      list-style-type: none;
    }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}